.titulo-wrapper {
    width: 100%; 
}

.titulo-wrapper input {
    width: 100%; 
    border-radius: 8px;
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    color: var(--input-placeholder);
    padding: 16px 16px; 
    box-sizing: border-box;
}

.titulo-wrapper label {
    display: flex;
    padding-bottom: 12px;
    font: var(--body-sm);
    color: var(--text-body);
}